* {
  margin: 0;
  padding: 0;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

button {
  border: none;
}
a {
  text-decoration: none;
}
ul > li {
  list-style: none;
}
